matrix:
  include:
   - language: java
   jdk: openjdk8
   addons:
   sonarcloud:
    organization: "georgeerol"
    token:
      secure: $SONAR_TOKEN # encrypted value of your token
    script:
     # the following command line builds the project, runs the tests with coverage and then execute the SonarCloud analysis
     - mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent install sonar:sonar -Dsonar.projectKey=georgeerol_ToDoAp



   - language: node_js
   node_js: node
   cache: npm
   script:
   - npm test
  after_success:
   - npm run coverage
